*.exe
*.exe
Lexicon Recruitment Manager/bin/
Lexicon Recruitment Manager/obj/
Lexicon Recruitment Manager/obj/x86/Release/Lexicon Recruitment Manager.pdb
Lexicon Recruitment Manager/obj/x86/Release/Lexicon Recruitment Manager.pdb